@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<PaymentSystem.MVC.Models.StudentDTO>

}

<h1>GetStudents</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().StudentId)</th>
            <th>@Html.DisplayNameFor(model => model.First().Firstname)</th>
            <th>@Html.DisplayNameFor(model => model.First().Lastname)</th>
            <th>@Html.DisplayNameFor(model => model.First().Username)</th>
            <th>@Html.DisplayNameFor(model => model.First().UID)</th>
            <th>@Html.DisplayNameFor(model => model.First().Balance)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StudentId)</td>
                <td>@Html.DisplayFor(modelItem => item.Firstname)</td>
                <td>@Html.DisplayFor(modelItem => item.Lastname)</td>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.UID)</td>
                <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                </td>
            </tr>
        }
    </tbody>
</table>
